.home-container {
  min-height: fit-content;
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.home-page {
  margin: auto;
}
.home-page-title {
  color: rgb(9, 20, 79);
  font-size: 28px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.home-page-category-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.home-page-category-items a {
  text-decoration: none;
}
@media only screen and (orientation: portrait) {
  .home-page-title {
    padding: 15px 0;
  }
  .home-page-category-items {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .home-page-title {
    padding: 15px 0;
  }
  .home-page-category-items {
    flex-direction: column;
    align-items: center;
  }
}
