.cart-item-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e0e6ef;
  padding: 20px;
  border-radius: 5px;
}
.cart-item-image {
  height: 80px;
  width: 80px;
}
.cart-name-image a {
  display: flex;
  gap: 25px;
  align-items: center;
  text-decoration: none;
}
.cart-qty-price {
  display: flex;
  align-items: center;
  gap: 40px;
}
.cart-item-price {
  font-size: 15px;
  font-weight: 700;
}
.cart-qty-price input {
  text-align: center;
  width: 55px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 13px;
  height: 32px;
  margin: 0;
  padding: 7px 1em;
  vertical-align: middle;
}
